
<div id="navbar">
  <div class="row nav-holder">   


    <p class="navbar-item">
      <i class="fas fa-home"></i>
      @Html.ActionLink("Salon Home", "Index", "Home", null, new {@class="navbarLink"})
    </p>
    
    <p class="navbar-item">|</p>

    <p class="navbar-item">
      <i class="fas fa-list-ul"></i>
      @Html.ActionLink("Stylists", "Index", "Stylists", null, new {@class="navbarLink"}) 
    </p>
    <p class="navbar-item">
      <i class="fas fa-user-plus"></i>
      @Html.ActionLink("Stylist", "Create", "Stylists", null, new {@class="navbarLink"})  
    </p>

    <p class="navbar-item">|</p>

    <p class="navbar-item">
      <i class="fas fa-list-ul"></i>
      @Html.ActionLink("Clients", "Index", "Clients", null, new {@class="navbarLink"}) 
    </p>
    <p class="navbar-item">
      <i class="fas fa-user-plus"></i>
      @Html.ActionLink("Client", "Create", "Clients", null, new {@class="navbarLink"}) 
    </p>
    
  </div>
</div>
