@{
    Layout = "_Layout";
}
@using HairSalon.Models
@model HairSalon.Models.Stylist

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId, new {@class = "hidden"})

  <div class="submit-table">
    <div class="table-head">
      <p>Add a Stylist</p>
    </div>
    <table>
        <td>@Html.LabelFor(model => model.Name)</td>
        <td>@Html.EditorFor(model => model.Name, new { @class = "form-control form-input" })</td>
      <tr>
      </tr>
        <td>@Html.LabelFor(model => model.Specialty)</td>
        <td>@Html.EditorFor(model => model.Specialty, new { @class = "form-control form-input" })</td>
      <tr>
        <td></td>
        <td><input class="button btn-dark" type="submit" value="Save Changes"/></td>
      </tr>
    </table class="form-group">
  </div>
}

<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>