<div id="navbar">
  

    <p>@Html.ActionLink("Style Home", "Index", "Home", null, new {@class="nav-partial"})</p>
    <p>@Html.ActionLink("Clients", "Index", "Clients", null, new {@class="nav-partial"})</p>
    <p>@Html.ActionLink("Add Client", "Create", "Clients", null, new {@class="nav-partial"})</p>
    <p>@Html.ActionLink("Stylists", "Index", "Stylists", null, new {@class="nav-partial"})</p>
    <p>@Html.ActionLink("Add Stylist", "Create", "Stylists", null, new {@class="nav-partial"})</p>

</div>