<div id="navbar">
  
    @Html.ActionLink("Style Home", "Index", "Home", null, new {@class="nav-partial"})
    @Html.ActionLink("Clients", "Index", "Clients", null, new {@class="nav-partial"})
    @Html.ActionLink("Add Client", "Create", "Clients", null, new {@class="nav-partial"})
    @Html.ActionLink("Stylists", "Index", "Stylists", null, new {@class="nav-partial"})
    @Html.ActionLink("Add Stylist", "Create", "Stylists", null, new {@class="nav-partial"})

</div>