<div id="navbar">
  <div class="row nav-holder">
    @Html.ActionLink("Style Home", "Index", "Home", null, new {@class="nav-partial"})
    <p class="nav-partial">|</p>
    @Html.ActionLink("Stylists", "Index", "Stylists", null, new {@class="nav-partial"})
    @Html.ActionLink("Clients", "Index", "Clients", null, new {@class="nav-partial"})
    <p class="nav-partial">|</p>
    @Html.ActionLink("Add Stylist", "Create", "Stylists", null, new {@class="nav-partial"})
    @Html.ActionLink("Add Client", "Create", "Clients", null, new {@class="nav-partial"})
  </div>
</div>