@{
    Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Client;

<h3>Name: @Html.DisplayFor(model => model.Name_First)  @Html.DisplayFor(model => model.Name_Last)</h3>
<h4>Phone Number: @Html.DisplayFor(model => model.Phone)</h4>
<h4>Stylist: @ViewBag.StylistName</h4>

@Html.ActionLink("Edit Client",  "Edit", new {id = @Model.ClientId})
<p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.ClientId })</p>