@{
    Layout = "_Layout";
}

@using Style.Models;
@model Style.Models.Stylist;

<h3>@Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayFor(model => model.Specialty)<h4>
<ul>
    @if (@Model.Clients.Count == 0)
    {
        <p>There are no clients for this Stylist</p>
    }

    @foreach (Client client in @Model.Clients)
    {
        <li>
            Name: @(client.Name_First) @(client.Name_Last)
        </li>
    }
</ul>

@Html.ActionLink("Edit",  "Edit", new {id = @Model.StylistId})
<br>
@Html.ActionLink("Back to Stylists",  "Index")